[bumpversion]
current_version = 1.4.0
commit = True
tag = True

[bumpversion:glob:searchpixel/class/**/*.php]
search = @version {current_version}
replace = @version {new_version}

[bumpversion:glob:searchpixel/class/core/strings.php]
search = const PluginVersion = '{current_version}'
replace = const PluginVersion = '{new_version}'

[bumpversion:file:searchpixel/searchpixel.php]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:searchpixel/readme.txt]
search = Stable tag: {current_version}
replace = Stable tag: {new_version}
